@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP";
  font-size: 1.6rem;
  overflow-x: hidden;
  background-image: url("../img/2036020_m.jpg");
  background-size: cover;
}

header {
  z-index: 0;
}

#menu_show {
  position: fixed;
  right: 2.0rem;
  top: 2.0rem;
  opacity: 1.0;
  transition: .3s;
  z-index: 10;

  img {
    width: 5.0rem;
    display: block;
  }

  &.hidden {
    opacity: 0;
    z-index: 1;
  }
}

#nav {
  position: relative;
  background: #ccc;

  ul {
    position: fixed;
    top: 0;
    list-style: none;
    right: -20rem;
    transition: .3s;
    z-index: 8;
    width: 20rem;
    height: 100vh;
    padding: 15.0rem 0 0 2.0rem;
    background-color: #fff;

    &.active {
      right: 0rem;
    }

    li {
      margin-bottom: 1.0rem;
      border-left: 2px solid #123;
      a {
        color: #123;
        font-size: 2.0rem;
        margin-left: 0.5rem;
      }
    }
  }

  #menu_close {
    position: fixed;
    right: 2.0rem;
    top: 2.0rem;
    opacity: 1.0;
    transition: .3s;
    z-index: 10;

    img {
      width: 5.0rem;
      display: block;
    }

    &.hidden {
      opacity: 0;
      z-index: 1;
    }
  }
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #123;
  opacity: 0;
  transition: .3s;
  z-index: 0;
  display: none;

  &.masked {
    opacity: 0.9;
    z-index: 2;
    display: block;
    animation: article .5s linear;
  }

  &>div {
    margin: auto;
    line-height: 100vh;
    width: 70vw;
    text-align: center;
  }
}

@keyframes article {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hidden {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

article {
  display: block;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.4);
  animation: article .5s linear;
  border-radius: 1.0rem;

  &.hidden {
    z-index: 0;
    display: none;
  }

  section {
    h1 {
      border-bottom: 2px solid #cde;
    }

    p {
      line-height: 3.0rem;
    }

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-left: 0;

      li {
        display: block;
        width: 20.0rem;
        background-color: #ccc;
        margin-bottom: 1.0rem;

        a {
          text-align: center;

          img {
            width: 100%;
            display: block;
          }
        }
      }
    }

    form {
      #email {
        padding: 2.0rem 1.0rem;
        font-size: 1.5rem;
      }

      #title {
        padding: 2.0rem 1.0rem;
        font-size: 1.5rem;
      }

      #textarea {
        padding: 2.0rem 1.0rem;
        font-size: 1.5rem;
      }

      #check {
        height: 2.0rem;
        &+label{
          margin-left: 1.0rem;
        }
      }

      #submit {
        padding: 1.0rem 2.0rem;
        font-size: 2.0rem;
      }
    }
  }
}

footer {
  a {
    color: #000;
  }
}

@media(max-width: 991px){
  article section:first-child{
    margin-bottom:2.0rem;
  }
  #mask{
    &>div{
      width: 100vw;
    }
  }
}
